@page "/showdata"
@inject NavigationManager nm
<h3>ShowData</h3>
<div class="content">
    <table class="table">
        @foreach (var item in listStudents)
        {
            <tr>
                <td>@item.StuId</td>
                <td>@item.FirstName</td>
                <td>@item.EmailAddress</td>
                <td>
                    <button class=" btn btn-outline-danger btn-sm " @onclick="()=>DeleteData(item.StuId)">Delete</button>
                    <a href="#" class="btn btn-outline-warning btn-sm" @onclick="() => UpdateStudent(item.StuId)">Update</a>

                </td>

            </tr>
        }
    </table>
</div>

@code {
    List<ModelStudent> listStudents { get; set; } = new List<ModelStudent>();

    protected override void OnInitialized()
    {
        listStudents = DalStudent.GetStudentInformation();
        base.OnInitialized();
    }

    private void DeleteData(int id)
    {
        DalStudent.DeleteStudentInformation(id);
        LoadData();
    }

    private void LoadData()
    {
        listStudents = DalStudent.GetStudentInformation();
    }

    private void UpdateStudent(int stuId)
    {
        nm.NavigateTo($"counter/{stuId}");
    }
}
